@use "global" as *;

.c-btn1 {
    display: inline-block;
    font-size: myrem(16);
    font-weight: 500;
    letter-spacing: .04em;
    padding: myrem(13.5) myrem(25.5) myrem(15.5) myrem(26.5);
    border: 1px solid #FFF;
    transition: .5s;
    white-space: nowrap;
}

.c-btn1:hover {
    opacity: 1;
    color: $text;
    background-color: $white;
}