@use "global" as *;

.c-section-title {
    position: relative;
    font-family: $font-title;
    color: $text_en;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    font-size: clamp(3.125rem, 0.7334rem + 10.2041vw, 5.625rem);
    width: fit-content;

    @include mq(md) {
        font-size: myrem(160);
    }
}

.c-section-title::before {
    position: absolute;
    font-family: $font-main;
    content: attr(date-ja);
    line-height: calc(24/20);
    letter-spacing: .2em;
    font-size: clamp(0.875rem, 0.7554rem + 0.5102vw, 1rem);
    white-space: nowrap;
    color: $text;
    top: myrem(-15);
    left: 50%;
    transform: translateX(-50%);

    @include mq(md) {
        transform: initial;
        writing-mode: vertical-rl;
        top: myrem(8);
        left: myrem(117);
        font-size: myrem(20);
    }
}

.c-section-title--activity {
    color: rgba(255, 255, 255, .8);

    @include mq(md) {
        color: rgba(255, 255, 255, .2);
    }
}

.c-section-title--activity::before {
    color: $white;
}

.c-section-title--news {
    color: $white;
}

.c-section-title--reservation {
    color: rgba(255, 255, 255, 0.6);
}

.c-section-title--sub-white::before {
    color: $white;

    @include mq(md) {
        color: $text;
    }
}