@use "global" as *;

.p-activity {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.p-activity__inner {
    position: relative;
}

.p-activity__item-wrap {
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: myrem(80) 0;

    @include mq(md) {
        padding-top: myrem(180);
        padding-bottom: myrem(160);
        max-width: myrem(1248);
    }
}

.p-activity__bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.p-activity__bg-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-activity__body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(md) {
        align-items: initial;
        width: 50%;
        max-width: myrem(584);
        padding-left: myrem(25);
        padding-right: myrem(25);
    }
}

.p-activity__title {
    display: flex;
    justify-content: center;
    background:
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../images/activity.jpg) no-repeat center center/cover;
    text-align: center;
    padding: myrem(100) 0;
    width: 100%;
    margin-bottom: myrem(20);

    @include mq(md) {
        margin-bottom: 0;
        background: initial;
        padding: 0;
        width: auto;
        position: absolute;
        top: myrem(-25);
        left: myrem(24);
    }
}

.p-activity__guidance {
    @include mq(md) {
        padding-top: myrem(189);
        padding-left: clamp(3.4375rem, -4.8125rem + 12vw, 4.9375rem);
        max-width: myrem(373);
    }
}

.p-activity__img {
    display: none;

    @include mq(md) {
        display: block;
        max-width: myrem(640);
        max-height: myrem(432);
        flex-shrink: 0;
    }
}