@use "global" as *;

.p-access__inner {
    display: flex;
    max-width: myrem(1440);
    margin: 0 auto;
    gap: myrem(30);
    padding: myrem(181) 0 myrem(159) myrem(25);
}

.p-access__body {
    margin-left: auto;
    width: 50%;
    max-width: myrem(450)
}

.p-access__title {
    margin-top: myrem(-26);
    margin-bottom: myrem(54);
}

.p-access__detail {
    display: flex;
    flex-direction: column;
    gap: myrem(31.5);
    margin-left: myrem(80);
    max-width: myrem(356);
    width: 100%;
}

.p-access__text {
    font-size: myrem(15);
    font-weight: 400;
    line-height: 2;
    letter-spacing: .04em;
}

.p-access__text-bold {
    font-size: myrem(16);
    font-weight: 700;
    line-height: 2;
    letter-spacing: .04em;
}

.p-access__map {
    width: 100%;
    max-width: myrem(840);
    height: myrem(480);
}