@use "global" as *;

.p-dining__inner {
    padding-top: myrem(176);
    padding-bottom: myrem(160);
    position: relative;
    overflow: hidden;
}

.p-dining__cloud {
    position: absolute;
    bottom: 0;
    right: 0;
    width: myrem(635);
    height: myrem(191);
}

.p-dining__body {
    position: relative;
    max-width: myrem(1440);
    margin: 0 auto;
}

.p-dining__body::after {
    position: absolute;
    content: '';
    width: myrem(264);
    height: myrem(69);
    background: url(../images/dining-sub-cloud.png) no-repeat center center/cover;
    top: myrem(-176);
    right: myrem(-85);
}

.p-dining__title {
    position: absolute;
    top: myrem(-214);
    right: 0;
}

.p-dining__body-inner {
    display: flex;
}

.p-dining__guidance {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: myrem(511);
    width: 50%;
    padding: myrem(113) 0 myrem(86);
}

.p-dining__guidance-wrap {
    position: relative;
    padding: 0 myrem(25);
}

.p-dining__img {
    width: 100%;
    max-width: myrem(720);
    max-height: myrem(502);
}