@use "global" as *;

.p-footer {
    background-color: $text;
}

.p-footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: myrem(100) myrem(20) myrem(30);
    gap: myrem(30);

    @include mq(md) {
        gap: 0;
        flex-direction: row;
        align-items: flex-start;
        max-width: myrem(1250);
        padding: myrem(154) myrem(25);
        margin: 0 auto;
        justify-content: space-between;
    }
}

.p-footer__logo {
    display: inline-block;
    width: myrem(110);
    height: myrem(96);

    @include mq(md) {
        margin-top: myrem(6);
        width: myrem(161);
        height: myrem(142);
    }
}

.p-footer__menu-container {
    display: flex;
    gap: myrem(5);
    margin-bottom: myrem(25);

    @include mq(md) {
        gap: 0;
        justify-content: flex-start;
    }
}

.p-footer__menu {

    @include mq(md) {
        margin-right: myrem(74);
    }
}

.p-footer__guide-container {
    display: flex;
    flex-direction: column;
}

.p-footer__guide {
    margin-bottom: myrem(9);

    @include mq(md) {
        margin-top: -2px;
        margin-bottom: myrem(24);
        margin-right: myrem(114);
    }
}

.p-footer__guide-text-core {
    display: inline-block;
    width: 100%;
    color: $white;
    font-size: myrem(12);
    letter-spacing: .04em;
    line-height: calc(19.8/12);
    padding: myrem(5.5) myrem(8);

    @include mq(md) {
        max-width: myrem(200);
        padding: myrem(8);
    }
}

.p-footer__sns {
    padding-left: myrem(8);
    margin-bottom: myrem(32);
}

.p-footer__copyright-pc,
.p-footer__copyright-sp {
    color: $white;
    font-size: myrem(10);
    font-weight: 400;
    letter-spacing: .14em;
    font-family: $font-copy;
    white-space: nowrap;
}

.p-footer__copyright-pc {
    display: none;

    @include mq(md) {
        padding-left: myrem(8);
        display: block;
    }
}

.p-footer__copyright-sp {
    display: block;

    @include mq(md) {
        display: none;
    }
}