@use "global" as *;

.p-gallery__inner {
    padding: myrem(100) 0 myrem(150);

    @include mq(md) {
        padding: myrem(155) 0 myrem(160);
    }
}

.p-gallery__head {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: myrem(30);
    margin-bottom: myrem(50);

    @include mq(md) {
        flex-direction: row;
        max-width: myrem(1250);
        padding: 0 myrem(22) 0 myrem(25);
        margin: 0 auto myrem(53);
        gap: myrem(20);
        justify-content: space-between;
        align-items: end;
    }
}

.p-gallery__head::before {
    position: absolute;
    content: '';
    background: url(../images/gallery-sub-cloud1.png) no-repeat center/cover;
    width: myrem(210);
    height: myrem(55);
    right: 0;
    top: myrem(-80);

    @include mq(md) {
        width: myrem(264);
        height: myrem(69);
        top: myrem(-80);
        right: myrem(59);
    }
}

.p-gallery__head::after {
    position: absolute;
    content: '';
    background: url(../images/gallery-sub-cloud2.png) no-repeat center/cover;
    width: myrem(190);
    height: myrem(53);
    bottom: myrem(-385);
    left: myrem(-40);

    @include mq(md) {
        width: myrem(237);
        height: myrem(66);
        bottom: myrem(-486);
        left: myrem(64);
    }
}

.p-gallery__btn {
    margin-bottom: myrem(-6);
}

.p-gallery__swiper-box {
    width: 100%;
    height: myrem(214);

    @include mq(md) {
        height: myrem(320);
    }
}

.p-gallery__swiper-wrapper {
    transition-timing-function: linear;
}

.p-gallery__swiper-slide {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: myrem(310);
    height: myrem(214);
    margin-right: myrem(24);

    @include mq(md) {
        width: myrem(464);
        height: myrem(320);
        margin-right: myrem(32);
    }
}

.p-gallery__swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}