@use "global" as *;

.p-guest__inner {
    position: relative;
    padding: myrem(296) 0 myrem(80) myrem(25);
}

.p-guest__cloud {
    position: absolute;
    bottom: myrem(-149);
    left: 0;
    width: myrem(337);
    height: myrem(311);
    z-index: -1;
}

.p-guest__body {
    display: flex;
    position: relative;
    max-width: myrem(1415);
    margin: 0 auto;
}

.p-guest__body::after {
    position: absolute;
    content: '';
    width: myrem(237);
    height: myrem(66);
    background: url(../images/guest-sub-cloud.png) no-repeat center center/cover;
    top: myrem(-162);
    right: myrem(124);
}

.p-guest__title {
    position: absolute;
    top: myrem(-214);
    left: myrem(-13);
    min-width: myrem(835);
}

.p-guest__guidance {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: myrem(478);
    margin: 0 auto;
    padding: myrem(113) clamp(1.5625rem, -20.4375rem + 32vw, 4.5625rem) myrem(86) 0;
}

.p-guest__guidance-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: myrem(478);
    width: 100%;
}

.p-guest__img {
    width: 100%;
    max-width: myrem(720);
    max-height: myrem(496);
    flex-shrink: 0;
}