@use "global" as *;

.p-menu {}

.p-menu__inner {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    @include mq(md) {
        display: contents;
    }
}

.p-menu__items {
    display: flex;
    flex-direction: column;
    color: $white;
    width: fit-content;
    margin: myrem(150) auto myrem(50);

    @include mq(md) {
        width: 100%;
        flex-direction: row;
        margin: auto;
    }
}

.p-menu__item-core {
    display: flex;
    justify-content: center;
    font-size: myrem(15);
    font-weight: 400;
    letter-spacing: .04em;
    padding: myrem(5);


    @include mq(md) {
        justify-content: initial;
        padding: myrem(17) myrem(16) myrem(15) myrem(16);
    }
}

.p-menu__item-core:hover {
    @include mq(md) {
        opacity: 1;
    }
}

.p-menu__item span {
    position: relative;
}

.p-menu__item span::after {
    @include mq(md) {
        position: absolute;
        bottom: myrem(10);
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $white;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
}

.p-menu__item:hover span::after {
    opacity: 0;
    animation: border .8s ease-out forwards;
}

.p-menu__item:hover span::after {
    bottom: myrem(-4);
    visibility: visible;
}

@keyframes border {
    0% {
        opacity: 0;
        transform: translateY(myrem(10));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.p-menu__btn {
    margin-top: myrem(10);

    @include mq(md) {
        margin-top: 0;
        margin-left: myrem(14.5);
    }
}

.p-menu__items--footer {
    margin: 0;
    width: myrem(171);

    @include mq(md) {
        width: myrem(184);
        flex-direction: column;
        margin-right: -1px;
    }
}

.p-menu__item-core--footer {
    justify-content: start;
    font-size: myrem(14);

    @include mq(md) {
        font-size: myrem(15);
        padding: myrem(9) myrem(16);
    }
}

.p-menu__btn--footer {
    margin-top: myrem(10);

    @include mq(md) {
        margin-top: myrem(17);
    }
}