@use "global" as *;

.p-news {
    background-color: #F1F1EC;
}

.p-news__inner {
    display: flex;
    flex-direction: column;
    padding: myrem(100) myrem(20) myrem(100);
    max-width: myrem(600);
    margin: 0 auto;
    gap: myrem(30);

    @include mq(md) {
        gap: clamp(3.5rem, -5.3125rem + 9.7917vw, 6.4375rem);
        flex-direction: row;
        justify-content: space-between;
        max-width: myrem(1250);
        padding: myrem(122) myrem(25) myrem(129);
    }
}

.p-news__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    @include mq(md) {
        align-items: flex-start;
        padding: myrem(33) 0 myrem(30);
        min-width: myrem(313);
        flex-shrink: 0;
    }
}

.p-news__title {
    margin-bottom: myrem(30);

    @include mq(md) {
        margin-bottom: myrem(152);
    }
}

.p-news__body {
    width: 100%;
    max-width: myrem(400);
    margin: 0 auto;

    @include mq(md) {
        margin: 0;
        max-width: 100%;
        padding-top: myrem(25);
    }
}

.p-news__item {
    border-top: solid 1px transparent;
    position: relative;
}

.p-news__item+.p-news__item {
    border-top: solid 1px $white;
}

.p-news__item::after {
    display: none;

    @include mq(md) {
        display: block;
        position: absolute;
        content: '';
        width: myrem(9);
        height: myrem(11);
        background: url(../images/p-news-arrow.svg) no-repeat center/cover;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s;
    }
}

.p-news__item:hover:after {
    opacity: 1;
    transform: translate(myrem(10), -50%);
}

.p-news__item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: myrem(30) 0;

    @include mq(md) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 100%;
        padding: myrem(32) myrem(20) myrem(31) 0;
    }
}

.p-news__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: myrem(335);

    @include mq(md) {
        max-width: 100%;
    }
}

.p-news__date {
    margin-bottom: myrem(5);
    font-size: myrem(14);
    font-weight: 400;
    line-height: 1;
    letter-spacing: .04em;

    @include mq(md) {
        margin-bottom: myrem(13);
        font-size: myrem(15);
    }
}

.p-news__text {
    font-size: myrem(15);
    font-weight: 400;
    line-height: calc(24/15);
    letter-spacing: .04em;
    margin-bottom: myrem(15);

    @include mq(md) {
        margin-bottom: 0;
    }
}

.p-news__img {
    margin: 0 auto;
    max-width: myrem(200);
    max-height: myrem(128);

    @include mq(md) {
        max-width: myrem(200);
        max-height: myrem(128);
        margin-right: myrem(48);
        flex-shrink: 0;
    }
}