@use "global" as *;

.p-stay {
    overflow: hidden;
}

.p-stay__body {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    padding-top: clamp(11.25rem, 7.9616rem + 14.0306vw, 14.6875rem);
    padding-bottom: myrem(260);

    @include mq(md) {
        padding-top: myrem(235);
        padding-bottom: myrem(118);
    }
}

.p-stay__body::before {
    position: absolute;
    content: '';
    background: url(../images/stay-sub-cloud1.png) no-repeat center center/cover;
    bottom: myrem(160);
    left: myrem(-120);
    width: myrem(200);
    height: myrem(56);

    @include mq(md) {
        bottom: myrem(107);
        left: myrem(-255);
        width: myrem(237);
        height: myrem(66);
    }
}

.p-stay__body::after {
    position: absolute;
    content: '';
    background: url(../images/stay-sub-cloud2.png) no-repeat center center/cover;
    width: myrem(210);
    height: myrem(55);
    top: myrem(100);
    right: myrem(-135);

    @include mq(md) {
        width: myrem(264);
        height: myrem(69);
        top: myrem(122);
        right: myrem(-232);
    }
}

.p-stay__body-wrap {
    position: relative;
}

.p-stay__cloud1 {
    position: absolute;
    top: 0;
    left: clamp(-22.5rem, -44.0242rem + 91.8367vw, 0rem);
    z-index: -1;
    width: myrem(650);
    height: myrem(156);

    @include mq(md) {
        width: myrem(793);
        height: myrem(191);
    }
}

.p-stay__cloud2 {
    position: absolute;
    z-index: -1;
    width: myrem(250);
    height: myrem(250);
    bottom: myrem(20);
    right: 0;

    @include mq(md) {
        right: clamp(-7.8125rem, -33.5506rem + 38.3436vw, 0rem);
        bottom: myrem(30);
        width: myrem(360);
        height: myrem(360);
    }
}

.p-stay__title {
    text-align: center;
    font-family: $font-title;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .04em;
    font-size: clamp(3.125rem, 0.6138rem + 10.7143vw, 5.75rem);
    margin-bottom: clamp(1.875rem, 0.6792rem + 5.102vw, 3.125rem);

    @include mq(md) {
        font-size: myrem(130);
        padding-left: myrem(4);
        margin-bottom: myrem(47);
    }
}

.p-stay__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: myrem(30);
    max-width: myrem(300);
    margin: 0 auto;

    @include mq(md) {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: initial;
        gap: myrem(30);
        padding-right: myrem(2.5);
    }
}

.p-stay__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    letter-spacing: .202em;
    line-height: calc(18/15);
    font-size: myrem(15);

    @include mq(md) {
        text-align: initial;
        writing-mode: vertical-rl;
        gap: myrem(14);
    }
}

.p-stay__text span {
    height: fit-content;
    display: inline-block;
}

.p-stay__text-margin {
    margin-bottom: myrem(30);

    @include mq(md) {
        margin-bottom: 0;
    }
}


.p-stay__gallery {
    width: 100%;
    background-image: url(../images/stay-slider.png);
    background-repeat: repeat-x;
    background-size: myrem(1770) myrem(214);
    height: myrem(214);
    animation: bgscrollsp 65s linear infinite;

    @include mq(md) {
        background-size: myrem(2482) myrem(300);
        background-position: myrem(-167) center;
        height: myrem(300);
        animation: bgscrollpc 65s linear infinite;
    }
}

@keyframes bgscrollsp {
    from {
        background-position: 0 0;
    }

    to {
        background-position: myrem(-1770) 0;
    }
}

@keyframes bgscrollpc {
    from {
        background-position: 0 0;
    }

    to {
        background-position: myrem(-2482) 0;
    }
}